.Rectangle {
    animation: animate 2s infinite ease alternate;
}

@keyframes animate {
    100% {
        transform: translateY(20px);
    }


}

.cop {
    animation: alternate 2s infinite ease alternate;
}

@keyframes alternate {
    100% {
        transform: translateX(20px);
    }


}